<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <!-- Replace with your own instrumentation key -->
  <InstrumentationKey>00000000-0000-0000-0000-000000000000</InstrumentationKey>

  <TelemetryProcessors>
    <!-- Operation filter reduces telemetry for successful operations. -->
    <Add Type="RamonDeKlein.AI.OperationFilterProcessor, RamonDeKlein.AI">
      <AlwaysLogExceptions>True</AlwaysLogExceptions>
      <AlwaysLogFailedDependencies>True</AlwaysLogFailedDependencies>
      <AlwaysTraceDependencyWithDuration>0:0:0.150</AlwaysTraceDependencyWithDuration>
      <MinAlwaysTraceLevel>Warning</MinAlwaysTraceLevel>
      <IncludeOperationLessTelemetry>True</IncludeOperationLessTelemetry>
    </Add>
  </TelemetryProcessors>
</ApplicationInsights>